<div class="center jumbotron"><!-- Having two classes means the object takes both classes attributes -->
<h1>My blog site</h1>
<%= link_to 'Sign up now', "#", class: "btn btn-primary btn-lg"%>
</div>
